.mat-form-field-flex {
    background-color: white !important;
}
.mat-form-field-appearance-legacy .mat-form-field-flex textarea {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
}