.p-datatable.p-datatable-customers .p-paginator{
    float: left !important;
}
.p-datatable-tbody > tr > th{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
th{
    padding-top: 2px !important;
}

.mat-datepicker-content {
    position: fixed !important;
    top: 10% !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 9999 !important;
}
.cdk-overlay-container {
    z-index: 9999 !important;
}

.cdk-overlay-pane {
    z-index: 9999 !important;
    position: absolute !important;
}