
body {
  font-family: "TH SarabunPSK", sans-serif;
  font-size: 18px;
}

.container {
  /* width: auto; */
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
}

.header,
.footer {
  text-align: center;
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.content-table,
.content-table td {
  border: none;
}

.info-table {
  width: 100%;
  margin-top: 10px;
}

.info-table td {
  padding: 5px;
}

.barcode {
  text-align: center;
  margin-top: 10px;
}

.divider {
  border-top: 1px dashed #000;
  margin: 20px 0;
}

/* @page {
  size: A5;
  margin: 0;
} */

/* body {
  width: 148mm;
  height: 210mm;
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
} */
