<div class="container max-w-max">
  <p-blockUI [blocked]="blockedDocument"><p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <button *ngIf="datas" pButton pRipple label="พิมพ์เอกสาร" icon="pi pi-print" printTitle="ใบส่งต่อ" printSectionId="print-section"
    (click)="print()"></button>


  <span *ngIf="!datas">Loading...</span>
  <span *ngIf="!datas">กรุณากรอกข้อมูลการนัดให้สมบูรณ์</span>

  <div *ngIf="datas" id="print-section" class="flex flex-col items-center justify-center w-full border-gray-800">

    <div class="flex flex-column items-center justify-center max-w-max">
      <!-- Header Section -->



      <div class="flex justify-content-center items-center gap-4 ">
        <!-- Logo -->
        <div class="flex flex-none justify-center items-center " style="width: 150px; height: 100px;">
          <img src="assets/images/banner.png" alt="SMART REFER" class="w-full h-full object-contain"
            style="object-fit: contain;">

        </div>

        <!-- ข้อมูลบัตรนัด -->
        <div class="flex flex-column justify-center items-center text-black text-center"
          style="width: 600px; height: 100px;">
          <h1 class="text-2xl font-bold w-full mb-2">บัตรนัด</h1>
          <h2 class="text-xl w-full mb-2  font-bold">          <span>{{datas.appoint_hname}}</span>
          </h2>
          <p class="text-lg w-full font-bold">เลขที่ใบ Refer : {{referNo}}</p>
        </div>

        <!-- QR Code -->
        <div *ngIf="datas" class="flex flex-none justify-center items-center " style="width: 150px; height: 100px;">
          <ngx-qrcode [value]="referNo" cssClass="aclass" errorCorrectionLevel="L">
          </ngx-qrcode>



        </div>
      </div>
      <p></p>
    



      <!-- Patient Details Section -->
      <div class="p-4">

        <div class="mb-3">
          <span class="font-bold">รพ.ต้นทาง : </span>
          <span>{{datas.hcode}}</span>

        </div>
        <div class="flex flex-wrap mb-2 gap-4 mb-3">
          <div class="w-full">
            <span class="font-bold">ชื่อ : </span>
            <span>{{datas.patient_name}}</span>
            <span class="ml-6 font-bold">เพศ : </span>
            <span>{{datas.sex}}</span>
            <span class="ml-4 font-bold">อายุ : </span>
            <span>{{datas.age | thaiage}}</span>
            <span class="ml-2 font-bold">เบอร์ติดต่อ : </span>
            <span>{{datas.patient_contact}}</span>
          </div>
        </div>
     

      <!-- Appointment Details -->

      <div class="flex  gap-4 mb-3 mt-4">
        <div>
          <div class="mb-2">
            <span class="font-bold">นัดมาวันที่ :</span>
            <span class="ml-4"> {{ datas.appoint_date | thaidate:'short' }}</span>
          </div>


        </div>
        <div>
          <div class="mb-2">
            <span class="font-bold">เวลานัด : {{ datas.appoint_time  }}</span>
          </div>
        </div>
      </div>


      <div class="flex  gap-4 mb-3">



        <div class="mb-2 flex gap-4">
          <div class="mr-5">
            <span class="font-bold">แพทย์</span>
            <span class="ml-2">: {{datas.doctor_name}}</span>
          </div>
          <div>
            <span class="font-bold">แผนก</span>
            <span class="ml-2">: {{datas.clinic_name}}</span>
            <span class="ml-2">: {{datas.clinic_contact}}</span>
          </div>
        </div>



      </div>




      <div class="mb-3">
        <div class="mb-1">
          <span class="font-bold">รายละเอียด</span>
          <span class="ml-2">: {{datas.description}}</span>

          <span class="ml-4">.....................................................................</span>
        </div>
      
      </div>

      <div class="mb-6">
        <div class="mb-1">
          <span class="font-bold">หมายเหตุ</span>
          <span class="ml-2">: {{datas.remark}}</span>

      </div>

      <div class="flex flex-column items-center">
        <div class="mb-2 mt-4">
          <span class="font-bold">**เอกสารแนบมา : </span>
          <span>[ ] EKG [ ] LAB [ ] ยาเดิม [ ] XRAY    [ ] อื่น ๆ .............................................</span>
        </div>
        <div>
          <span class="font-bold">วันที่พิมพ์ : </span>

          <span>{{ currentDate | date: 'd MMMM yyyy เวลา : HH:mm น.' }}</span>

        </div>
      </div>

    </div>

  </div>

</div>


</div>