<div class="col-12">
    <div class="flex justify-content-center flex-wrap card-container yellow-container">
        <div class="flex align-items-center justify-content-center ml-3">
            <mat-form-field
                color="accent"
                class="example-form-field"
                appearance="outline">
                <mat-label>วันเริ่มต้น</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker1"
                    [(ngModel)]="sdate"
                    (click)="picker1.open()"
                    (ngModelChange)="onDateSelected()" />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex align-items-center justify-content-center ml-3">
            <mat-form-field
                color="accent"
                class="example-form-field"
                appearance="outline">
                <mat-label>วันสิ้นสุด</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker2"
                    [(ngModel)]="edate"
                    (click)="picker2.open()"
                    (ngModelChange)="onDateSelected()" />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex align-items-center justify-content-center m-2 mt-0">
            <button
                pButton
                type="button"
                [disabled]="!validateForm"
                class="p-button-info"
                (click)="onSearch()">
                แสดงรายงาน
            </button>
        </div>

    </div>
    <!-- <div class="p-8 py-5 md:px-6 lg:px-8"> -->
    <div class="grid p-2">

        <div class="col-12">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between align-items-center justify-content-center mb-3">
                            <div>
                                <span class="block text-500 font-bold text-4xl text-blue-700">REFER OUT </span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="fas fa-shipping-fast text-blue-500 text-2xl"></i>
                            </div>
                        </div>
                        <div class="flex flex-column md:flex-row">
                            <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                <div class="flex flex-column align-items-center justify-content-center">
                                    <div class="text-900 font-bold text-4xl mb-3">{{countOut | number}}</div>
                                    <div class="block text-500 font-medium"> ทั้งหมด</div>
                                </div>
                            </div>
                            <div class="w-full md:w-2">
                                <p-divider layout="vertical" styleClass="hidden md:flex"><b></b></p-divider>
                                <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"><b></b></p-divider>
                            </div>
                            <div class="w-full md:w-5 flex align-items-center justify-content-center py-1">
                                <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                    <div class="flex flex-column align-items-center justify-content-center">
                                        <div class="text-900 font-bold text-4xl mb-3">{{reportOut| number}}</div>
                                        <div class="block text-500 font-medium"> ตอบรับ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between align-items-center justify-content-center mb-3">
                            <div>
                                <span class="block text-500 font-bold text-4xl text-orange-700"> REFER IN </span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="fas fa-procedures text-orange-500 text-2xl"></i>
                            </div>
                        </div>
                        <div class="flex flex-column md:flex-row">
                            <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                <div class="flex flex-column align-items-center justify-content-center">
                                    <div class="text-900 font-bold text-4xl mb-3">{{countOutReply| number}}</div>
                                    <div class="block text-500 font-medium"> ทั้งหมด</div>
                                </div>
                            </div>
                            <div class="w-full md:w-2">
                                <p-divider layout="vertical" styleClass="hidden md:flex"><b></b></p-divider>
                                <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"><b></b></p-divider>
                            </div>
                            <div class="w-full md:w-5 flex align-items-center justify-content-center py-1">
                                <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                    <div class="flex flex-column align-items-center justify-content-center">
                                        <div class="text-900 font-bold text-4xl mb-3">{{reportOutReply| number}}</div>
                                        <div class="block text-500 font-medium"> ตอบรับ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">ข้อมูล ReferIn ทั้งหมด</span>
                                <div class="text-900 font-bold text-4xl">{{countOutReply}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">

                                <i class="fas fa-wheelchair text-orange-500 text-2xl"></i>

                            </div>
                        </div>
                        <span class="text-green-500 font-medium text-2xl mr-2">{{reportOutReply}}</span>
                        <span class="text-500">ตอบรับ ReferIn แล้ว</span>
                    </div>
                </div> -->
                <div class="col-12 md:col-6 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between align-items-center justify-content-center mb-3">
                            <div>
                                <span class="block text-500 font-bold text-4xl text-cyan-700">REFER BACK </span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="fas fa-ambulance text-cyan-500 text-2xl"></i>
                            </div>
                        </div>
                        <div class="flex flex-column md:flex-row">
                            <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                <div class="flex flex-column align-items-center justify-content-center">
                                    <div class="text-900 font-bold text-4xl mb-3">{{countBack| number}}</div>
                                    <div class="block text-500 font-medium"> ทั้งหมด</div>
                                </div>
                            </div>
                            <div class="w-full md:w-2">
                                <p-divider layout="vertical" styleClass="hidden md:flex"><b></b></p-divider>
                                <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"><b></b></p-divider>
                            </div>
                            <div class="w-full md:w-5 flex align-items-center justify-content-center py-1">
                                <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                    <div class="flex flex-column align-items-center justify-content-center">
                                        <div class="text-900 font-bold text-4xl mb-3">{{reportBack| number}}</div>
                                        <div class="block text-500 font-medium"> ตอบรับ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">ข้อมูล ReferBack ทั้งหมด</span>
                                <div class="text-900 font-bold text-4xl">{{countBack}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">

                                <i class="fas fa-ambulance text-cyan-500 text-2xl"></i>

                            </div>
                        </div>
                        <span class="text-green-500 font-medium text-2xl">{{reportBack}} </span>
                        <span class="text-500">ปลายทางตอบรับ ReferBack แล้ว</span>
                    </div>
                </div> -->
                <div class="col-12 md:col-6 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between align-items-center justify-content-center mb-3">
                            <div>
                                <span class="block text-500 font-bold text-4xl text-purple-700">REFER RECEIVE </span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="fas fa-wheelchair text-purple-500 text-2xl"></i>
                            </div>
                        </div>
                        <div class="flex flex-column md:flex-row">
                            <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                <div class="flex flex-column align-items-center justify-content-center">
                                    <div class="text-900 font-bold text-4xl mb-3">{{countBackReply| number}}</div>
                                    <div class="block text-500 font-medium"> ทั้งหมด</div>
                                </div>
                            </div>
                            <div class="w-full md:w-2">
                                <p-divider layout="vertical" styleClass="hidden md:flex"><b></b></p-divider>
                                <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"><b></b></p-divider>
                            </div>
                            <div class="w-full md:w-5 flex align-items-center justify-content-center py-1">
                                <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center py-1">
                                    <div class="flex flex-column align-items-center justify-content-center">
                                        <div class="text-900 font-bold text-4xl mb-3">{{reportBackReply| number}}</div>
                                        <div class="block text-500 font-medium"> ตอบรับ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div>
                <div class="col-12 lg:col-6 xl:col-3">
                    <div class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">ข้อมูล ReferRecive ทั้งหมด</span>
                                <div class="text-900 font-bold text-4xl">{{countBackReply}}</div>

                            </div>
                            <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">

                                <i class="fas fa-procedures text-purple-500 text-2xl"></i>

                            </div>
                        </div>
                        <span class="text-green-500 font-medium text-2xl">{{reportBackReply}} </span>
                        <span class="text-500">ตอบรับ ReferRecive แล้ว</span>
                    </div>
                </div> -->
            </div>

        </div>

        <div class="col-12">
            <!-- <div class="h-56 grid grid-cols-3 gap-4 content-center ...">
                <div>01</div>
                <div>02</div>
                <div>03</div>
                <div>04</div>
                <div>05</div>
              </div> -->

            <div class="h-56 grid content-center place-items-center align-items-center">

                <!-- <div class="col-12 lg:col-6 xl:col-6 p-8">

                    <div class="h-auto  p-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
                        <div>
                            <div class="text-blue-100 font-medium text-xl mt-2 mb-3">ดูรายงานเพิ่มเติม..</div>
                            <div class="text-white font-medium text-5xl">Refer Board</div>
                            <div class="text-white font-medium text-5xl"></div>
                            <br>

                            <div class="text-white font-medium text-2xl">สำนักงานสาธารณสุขจังหวัดอุบลราชธานี</div>
                        </div>
                        <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                            <a target="_blank" href="https://referboard.phoubon.in.th/#/" class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised">
                                Go Step
                            </a>
                        </div>
                    </div>

                </div> -->
                <div class="col-12 lg:col-12 xl:col-12">
                    <div class="card mb-0">
                        <div class="content-section implementation h-auto w-full">
                            <div class="flex justify-content-center h-auto w-auto">
                                <p-chart type="polarArea" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
                                <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart> -->
                                <!-- <p-chart type="pie" [data]="dataPie" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<p-blockUI [blocked]="blockedDocument">
    <p-progressSpinner  styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</p-blockUI>
