<div class="w-auto h-auto">

    <p-card>
        <div class="flex align-items-stretch flex-wrap card-container blue-container">
            <div class="flex align-items-center justify-content-center m-2 mt-0">             
                <p-tag severity="success" styleclass = "p-mr-2"><i class="fas fa-procedures align-items-center" style="font-size:2rem"></i>
                    <p class="text-lg align-items-center m-2 font-bold"> REFER RECIEVE</p>
                </p-tag> 
             
            </div>

            <div class="flex align-items-center justify-content-center m-2">
                <mat-form-field color="accent" class="example-form-field" appearance="outline">
                    <mat-label>วันเริ่มต้น</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="sdate" (click)="picker1.open()"
                        (ngModelChange)="onDateSelected()">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex align-items-center justify-content-center m-2">
                <mat-form-field color="accent" class="example-form-field" appearance="outline">
                    <mat-label>วันสิ้นสุด</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="edate" (click)="picker2.open()"
                        (ngModelChange)="onDateSelected()">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex align-items-center justify-content-center m-2">
                <mat-form-field color="accent" class="example-form-field" appearance="outline">
                    <input name="cid" matInput [(ngModel)]="cid" placeholder="เลขบัตรประชาชน" (keyup)="valuechange($event)" onkeypress="if(this.value.length==13) return false;" >
                  </mat-form-field>
            </div>
            <div class="flex align-items-center justify-content-center m-2 mt-0">
                <button pButton type="button" [disabled]="!validateForm" class="button-success"
                    (click)="onSearch()" icon="pi pi-search" label ="ค้นหา"></button>
            </div>
    

        </div>

        <!-- <div class="grid">
            <div class="flex justify-content-center flex-wrap card-container yellow-container col shadow-4"> -->
                <p-table #dt id="dt" [value]="rowsData" [(selection)]="selectedRowsData" dataKey="id" responsiveLayout="scroll" styleClass="p-datatable-gridlines"
                [rowHover]="true" [rows]="100" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="loading"
                [paginator]="true" currentPageReportTemplate="แสดง {first} จาก {last} ทั้งหมด {totalRecords} รายการ"
                [filterDelay]="0" [globalFilterFields]="['hn','fullname','hname','refer_no','cid']"
                paginatorPosition="bottom" scrollHeight="{{scrollHeight}}"
                [virtualRowHeight]="6" frozenColumns="10" selectionMode="single" dblClickSelect="false" (onRowSelect)="onRowSelect($event)"  >
                    <ng-template pTemplate="caption" >
                        <div class="table-header ">
                            <div class="grid">
                              <div class="col">
                                <div class="flex justify-content-start ">
                                  <span class="text-center justify-content-center pt-2">รายการตอบรับการส่งกลับ</span>
                                </div>
                              </div>
                      
                              <div class="col">
                                <div class="flex justify-content-end">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input pInputText class="p-inputtext-sm" type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="ค้นหา..HN,ชื่อ,รพ." />
                                    </span>
                                  &nbsp;<button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2 p-1"  pTooltip="XLS" tooltipPosition="bottom"></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center justify-content-center p-1" colspan="3" #pFrozenColumn>การนำส่ง</th>
                            <th class="text-center justify-content-center p-1" colspan="2" #pFrozenColumn>ผู้ป่วย</th>
                            <th class="text-center justify-content-center p-1" colspan="3" #pFrozenColumn>ใบส่งตัว</th>
                            <th class="text-center justify-content-center p-1">สถานบริการ</th>
                            <th class="text-center justify-content-center p-1" colspan="5">การลงรับ</th>
                        </tr>
                        <tr>
                            <th class="text-center justify-content-center p-1" pSortableColumn="name" #pFrozenColumn>แนบ <p-sortIcon field="name"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="name" #pFrozenColumn>ขอนัด <p-sortIcon field="name"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="date" #pFrozenColumn>นำส่ง <p-sortIcon field="date"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn><p-columnFilter type="text" field="hn" display="menu"></p-columnFilter>Hn <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn><p-columnFilter type="text" field="fullname" display="menu"></p-columnFilter>ชื่อ<p-sortIcon field="name"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="cid">เลขบัตรประชาชน <p-sortIcon field="cid"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn>เลขที่ส่ง <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn>วันที่ส่ง <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn>เวลา <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status">ต้นทาง <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status">เลขที่รับ <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status"><p-columnFilter type="text" field="name" display="menu"></p-columnFilter>จุดรับ<p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="activity">วันที่่รับ <p-sortIcon field="activity"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="activity">เวลา <p-sortIcon field="activity"></p-sortIcon></th>
                            <!-- <th class="text-center justify-content-center p-1">ยกเลิก</th> -->
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-rowsData>
                        <tr class="p-selectable-row">

                            <td class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">แนบ</span>
                                <div class="p-inputgroup" >
                                    <span class="p-inputgroup-addon" (click)="uploadsRoute(rowsData)">
                                        <i class="pi pi-paperclip"></i>   
                                    </span>
                                    <span class="p-inputgroup-addon" pTooltip="ใบนัด" [ngStyle]="{backgroundColor:'var(--green-400)'}" *ngIf="rowsData.attpath_appoint != null ">
                                        <i class="pi pi-file-pdf" (click)="downloadAttRoute(rowsData.attpath_appoint)"></i></span>
                                    <span class="p-inputgroup-addon" *ngIf="rowsData.attpath_appoint == null "><i class="pi pi-file-pdf"></i></span>
                                </div>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn>
                                <span class="p-column-title">ขอนัด</span>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-danger p-button-sm" pTooltip="ขอนัดด่วนภายใน 24 ชั่วโมง" *ngIf="rowsData.refer_appoint === '1'"></button>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-success p-button-sm" pTooltip="ขอนัดตามสะดวก" *ngIf="rowsData.refer_appoint === '2'"></button>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-warning p-button-sm" pTooltip="มีนัดแล้วแต่ขอใบรีเฟอร์ต่อเนื่อง" *ngIf="rowsData.refer_appoint === '3'"></button>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-help p-button-sm" pTooltip="ขอนัด CAG" *ngIf="rowsData.refer_appoint === '4'"></button>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn >
                                <span class="p-column-title">นำส่ง</span>
                                <button pButton pRipple type="button" icon="fas fa-ambulance fa-lg" class="p-button-rounded p-button-success" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '1'"></button>
                                <button pButton pRipple type="button" icon="fas fa-female fa-lg" class="p-button-rounded p-button-danger" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '2'"></button>
                                <button pButton pRipple type="button" icon="fas fa-user fa-lg" class="p-button-rounded p-button-warning" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '3'"></button>
                                <button pButton pRipple type="button" icon="fas fa-car fa-lg" class="p-button-rounded p-button-help " pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '4'"></button>
                                <button pButton pRipple type="button" icon="fas fa-truck-moving" class="p-button-rounded p-button-secondary " pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '5'"></button>
                                <button pButton pRipple type="button" icon="fas fa-shipping-fast" class="p-button-rounded p-button-plain" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '6'"></button>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">HN</span>
                                {{rowsData.hn}}
                            </td>
                            <td [pSelectableRow]="rowsData" #pFrozenColumn class="p-1">
                                <span class="p-column-title">ชื่อ</span>
                                {{rowsData.fullname}}
                            </td>
                            <td class="text-center justify-content-center p-1">
                                <span class="p-column-title">เลขบัตรประชาชน</span>
                                {{rowsData.cid}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">เลขที่ส่ง</span>
                                {{rowsData.refer_no}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">วันที่ส่ง</span>
                                {{rowsData.refer_date | thaidate:'short'}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">เวลา</span>
                                {{rowsData.refer_time | slice:0:5}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1">
                                <span class="p-column-title">ต้นทาง</span>
                                {{rowsData.hname}}
                            </td>
                            <td [pSelectableRow]="rowsData" style='background-color: red;color:white;' class="p-1"
                                *ngIf="rowsData.receive_refer_result_id == '2'">
                                <span class="p-column-title">เลขที่รับ</span>
                                <span *ngIf="rowsData.receive_refer_result_id == '2'">{{rowsData.refer_result_name}}
                                </span>
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1"
                                *ngIf="rowsData.receive_refer_result_id != '2'">
                                <span class="p-column-title">เลขที่รับ</span>
                                <span *ngIf="rowsData.receive_no != '0'">{{rowsData.receive_no}}</span>

                                <!-- <span *ngIf="rowsData.receive_no != '0'">{{rowsData.receive_no}}</span> -->
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1 text-center">
                                <span class="p-column-title">จุดที่รับ</span>
                                {{rowsData.receive_spclty_name}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1">
                                <span class="p-column-title" s>วันที่รับ</span>
                                <span *ngIf="rowsData.receive_date != 'Invalid date'">{{rowsData.receive_date |
                                    thaidate:'short'}} </span>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1">
                                <span class="p-column-title">เวลารับ</span>
                                {{rowsData.receive_time | slice:0:5}}
                            </td>
                            <!-- <td class="text-center justify-content-center p-1">
                                <span class="p-column-title">ยกเลิก</span>

                                <span class="p-inputgroup-addon" *ngIf="rowsData.receive_no === '0'"
                                    pTooltip="ยกเลิกรีเฟอร์" tooltipPosition="top"><i class="pi pi-trash"
                                        style="line-height: 1.25;color:red"></i></span>

                            </td> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="14">ไม่พบรายการ..</td>
                        </tr>
                    </ng-template>
                </p-table>



                
            <!-- </div>
        </div> -->
    </p-card>
</div>
<!-- <p-table #dtTemp id="dtTemp" [value]="rowsData"  [hidden]="true">
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <div class="grid">
                              <div class="col">
                                <div class="flex justify-content-start">
                                  <span class="text-center justify-content-center pt-2"><i class="pi pi-chart-bar"></i> ผลการประเมินจากโรงพยาบาลปลายทาง</span>
                                </div>
                              </div>
                      
                              <div class="col">
                                <div class="flex justify-content-end">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input pInputText class="p-inputtext-sm" type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="ค้นหา..HN,ชื่อ,รพ." />
                                    </span>
                                  <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel3()" class="p-button-success mr-2 p-1"  pTooltip="XLS" tooltipPosition="bottom"></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center justify-content-center p-1" colspan="3" #pFrozenColumn>การนำส่ง</th>
                            <th class="text-center justify-content-center p-1" colspan="2" #pFrozenColumn>ผู้ป่วย</th>
                            <th class="text-center justify-content-center p-1" colspan="3" #pFrozenColumn>ใบส่งตัว</th>
                            <th class="text-center justify-content-center p-1">สถานบริการ</th>
                            <th class="text-center justify-content-center p-1" colspan="5">การลงรับ</th>
                        </tr>
                        <tr>
                            <th class="text-center justify-content-center p-1" pSortableColumn="name" #pFrozenColumn>แนบ <p-sortIcon field="name"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="name" #pFrozenColumn>ขอนัด <p-sortIcon field="name"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="date" #pFrozenColumn>นำส่ง <p-sortIcon field="date"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn><p-columnFilter type="text" field="hn" display="menu"></p-columnFilter>Hn <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn><p-columnFilter type="text" field="fullname" display="menu"></p-columnFilter>ชื่อ<p-sortIcon field="name"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="cid">เลขบัตรประชาชน <p-sortIcon field="cid"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn>เลขที่ส่ง <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn>วันที่ส่ง <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status" #pFrozenColumn>เวลา <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status">ต้นทาง <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status">เลขที่รับ <p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="status"><p-columnFilter type="text" field="name" display="menu"></p-columnFilter>จุดรับ<p-sortIcon field="status"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="activity">วันที่่รับ <p-sortIcon field="activity"></p-sortIcon></th>
                            <th class="text-center justify-content-center p-1" pSortableColumn="activity">เวลา <p-sortIcon field="activity"></p-sortIcon></th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-rowsData>
                        <tr class="p-selectable-row">

                            <td class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">แนบ</span>
                                <div class="p-inputgroup" >
                                    <span class="p-inputgroup-addon" (click)="uploadsRoute(rowsData)">
                                        <i class="pi pi-paperclip"></i>   
                                    </span>
                                    <span class="p-inputgroup-addon" pTooltip="ใบนัด" [ngStyle]="{backgroundColor:'var(--green-400)'}" *ngIf="rowsData.attpath_appoint != null ">
                                        <i class="pi pi-file-pdf" (click)="downloadAttRoute(rowsData.attpath_appoint)"></i></span>
                                    <span class="p-inputgroup-addon" *ngIf="rowsData.attpath_appoint == null "><i class="pi pi-file-pdf"></i></span>
                                </div>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn>
                                <span class="p-column-title">ขอนัด</span>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-danger p-button-sm" pTooltip="ขอนัดด่วนภายใน 24 ชั่วโมง" *ngIf="rowsData.refer_appoint === '1'"></button>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-success p-button-sm" pTooltip="ขอนัดตามสะดวก" *ngIf="rowsData.refer_appoint === '2'"></button>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-warning p-button-sm" pTooltip="มีนัดแล้วแต่ขอใบรีเฟอร์ต่อเนื่อง" *ngIf="rowsData.refer_appoint === '3'"></button>
                                <button pButton pRipple type="button" icon="fas fa-calendar-plus fa-lg" class="p-button-rounded p-button-help p-button-sm" pTooltip="ขอนัด CAG" *ngIf="rowsData.refer_appoint === '4'"></button>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">นำส่ง</span>

                                <button pButton pRipple type="button" class="p-button-success fa-lg" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '1'"><i class="fas fa-ambulance"></i></button>
                                <button pButton pRipple type="button" class="p-button-danger fa-lg" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '2'"><i class="fas fa-female"></i></button>
                                <button pButton pRipple type="button" class="p-button-warning fa-lg" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '3'"><i class="fas fa-user"></i></button>
                                <button pButton pRipple type="button" class="p-button-help fa-lg" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '4'"><i class="fas fa-car"></i></button>
                                <button pButton pRipple type="button" class="p-button-secondary fa-lg" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '5'"><i class="fas fa-truck-moving"></i></button>
                                <button pButton pRipple type="button" class="p-button-plain fa-lg" pTooltip="{{rowsData.loads_name}}" *ngIf="rowsData.loads_id  === '6'"><i class="fas fa-shipping-fast"></i></button>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">HN</span>
                                {{rowsData.hn}}
                            </td>
                            <td [pSelectableRow]="rowsData" #pFrozenColumn class="p-1">
                                <span class="p-column-title">ชื่อ</span>
                                {{rowsData.fullname}}
                            </td>
                            <td class="text-center justify-content-center p-1">
                                <span class="p-column-title">เลขบัตรประชาชน</span>
                                {{rowsData.cid}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">เลขที่ส่ง</span>
                                {{rowsData.refer_no}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">วันที่ส่ง</span>
                                {{rowsData.refer_date | thaidate:'short'}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1" #pFrozenColumn
                               >
                                <span class="p-column-title">เวลา</span>
                                {{rowsData.refer_time}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1">
                                <span class="p-column-title">ต้นทาง</span>
                                {{rowsData.hname}}
                            </td>
                            <td [pSelectableRow]="rowsData" style='background-color: red;color:white;' class="p-1"
                                *ngIf="rowsData.receive_refer_result_id == '2'">
                                <span class="p-column-title">เลขที่รับ</span>
                                <span *ngIf="rowsData.receive_refer_result_id == '2'">{{rowsData.refer_result_name}}
                                </span>
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1"
                                *ngIf="rowsData.receive_refer_result_id != '2'">
                                <span class="p-column-title">เลขที่รับ</span>
                                <span *ngIf="rowsData.receive_no != '0'">{{rowsData.receive_no}}</span>

                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1">
                                <span class="p-column-title">จุดที่รับ</span>
                                {{rowsData.receive_spclty_name}}
                            </td>
                            <td [pSelectableRow]="rowsData" class="p-1">
                                <span class="p-column-title" s>วันที่รับ</span>
                                <span *ngIf="rowsData.receive_date != 'Invalid date'">{{rowsData.receive_date |
                                    thaidate:'short'}} </span>
                            </td>
                            <td [pSelectableRow]="rowsData" class="text-center justify-content-center p-1">
                                <span class="p-column-title">เวลารับ</span>
                                {{rowsData.receive_time}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="16">ไม่พบรายการ..</td>
                        </tr>
                    </ng-template>
                </p-table> -->