/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";
// @import "../node_modules/@fontawesome/fontawesome-free/css/all.css";
// @import "../node_modules/font-awesome/css/font-awesome.css";


/* //font  All  project */
@font-face {
    font-family: "Kanit-Regular";
    src: local("Kanit-Regular"), url(./assets/fonts/kanit/Kanit-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Kanit-Black";
    src: local("Kanit-Black"), url(./assets/fonts/kanit/Kanit-Black.ttf) format("truetype");
}

@font-face {
    font-family: "thai-san-neue";
    src: local("ThaiSansNeue-Black"), url(./assets/fonts/thai-san-neue/ThaiSansNeue-Black.ttf) format("truetype");
}

@font-face {
    font-family: "ThaiSansNeue-ExtraLight";
    src: local("ThaiSansNeue-ExtraLight"), url(./assets/fonts/thai-san-neue/ThaiSansNeue-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "ThaiSansNeue-Light";
    src: local("ThaiSansNeue-Light"), url(./assets/fonts/thai-san-neue/ThaiSansNeue-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"), url(./assets/fonts/Sarabun/Sarabun-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mitr";
    src: local("Mitr"), url(./assets/fonts/Mitr/Mitr-Regular.ttf) format("truetype");
}

/* @font-face {
    font-family: "ThaiSansNeue-Regular";
    src: local("ThaiSansNeue-Regular"), url("./assets/fonts/thai-san-neue/ThaiSansNeue-Regular.ttf") format("truetype");
} */


/* ////////////////////////// */
:host ::ng-deep {
    .custom-icon {
        width: 1rem;
        height: 1rem;
        background-image: url("./assets/images/ambulance.svg");
    }
}

html,
body {
    height: 100%;
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
}

html,
body,
mark {
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// span {
//     font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
//     font-weight: normal;
//     margin: 0;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline;
// }

//////////////////////////////////@at-root
.topbarBackground {
    background: rgb(3, 155, 178);
}
.p-menuitem.active {
    background-color: rgb(181, 202, 239) !important;
    border-radius: 5px !important;
    border-color: #2196F3;
  }

input,
label,
select,
table,
div,
textarea,
p,
h1 {
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
}

// span.fontKanit{
//     font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
//     font-weight: normal;

// }
// span:not(.fa),span:not(.fas), span:not(.fab),span:not(.pi > *),span:not(.p-button.p-button-sm .p-button-icon),
// span:not(.p-paginator-icon > *)  {
//     font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
//     font-weight: normal;
//   }
//   span:not(.p-button.p-button-sm .p-button-icon)
//  {
//     font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
//     font-weight: normal;
//   }

// span:not(.p-paginator-icon > *)  {
//     font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
//     font-weight: normal;
//   }

//   p-paginator-icon pi pi-angle-double-left

.pi .pi-fw .pi-circle {
    font-family: 'primeicons' !important;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

table {
    font-size: 12px;
}

h3 {
    font-family: 'Sarabun';
    font-weight: 200;
    /* font-size: 50px;  */
}

h2 {
    font-family: 'Sarabun';
    font-weight: 200;
}

input {
    /* font-family: 'Sarabun'; */
    font-size: 18px;
    font-weight: 100;
    /* ทำให้ ตัวอักษร ภาษาอังกฤษ เป็ฯตัวใหญ่ตลอด */
    /* font-variant: all-petite-caps; */
}

.p-fluid .p-dropdown .p-dropdown-label {
    width: 1%;
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: 10;
    height: 20px !important;
    line-height: 10px !important;

}

.p-dropdown-label {
    font-size: 16px !important;
    height: 38px !important;
    vertical-align: middle !important;
}




/* -----------*****************--Section 2   Prime  Ng  Css***********************------------ */

.panel-title {
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
    font-size: 28px !important;
}

/* navbar fix on top */

.my-toolbar {
    position: fixed;
    left: 0px;
    top: 0;
    height: 40px;
    /* width: 30px; */
}

.my-toolbar2 {
    position: absolute;
    height: 120px;

}

.p-fieldset .p-fieldset-legend {
    padding: 2px;
    border: 1px solid #dee2e6;
    color: #ce3c10;
    background: #f8f9fa;
    font-weight: 200;
    border-radius: 3px;
}

.ui-fieldset .ui-state-default {
    background: none !important;
}

.container {
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav-list {
    padding: 0px;
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.ui-fieldset .ui-state-default {
    background: none;
    padding: 0px;
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.p-sidebar .p-sidebar-header {
    padding: 2px;
}


.p-fieldset .p-fieldset-content {
    padding: 1px;
}



/* Themes  Prime ng */

/* checkbox  aggrid   ovverride here*/
/* 
.ag-theme-alpine .ag-root-wrapper-body .ag-checkbox-input-wrapper {
   
    font-size: medium;
    border: solid 1px;
    font-size: 16px;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}

.ag-theme-alpine .ag-root-wrapper-body .ag-checkbox-input-wrapper::after {
    
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-size: 14px; 
   
    content: '';    
    background-color: #fdfdfd;
    border-color: blueviolet;
    border-radius: 4px;  
  
}

.ag-theme-alpine .ag-root-wrapper-body .ag-checkbox-input-wrapper.ag-checked::after {
    content: '\f00c';   
    font-size: 16px;
    align-content: center;
    align-items: center; 
    
}
.ag-theme-alpine .ag-root-wrapper-body .ag-checkbox-input-wrapper.ag-indeterminate::after {
     content: '\f068';   
    background-color: #fdfdfd;
    font-size: 16px;
  
} */


.ag-theme-alpine .ag-icon-pin {
    font-family: "Font Awesome 5 Free";
    /* FontAwesome uses font-weight bold */
    font-weight: 100;
}

.ag-theme-alpine .ag-icon-pin::before {
    content: '\\f08d';
}


/* *************Section 3   Ag-grid-style  ***************** */
.my-class-date {
    width: 20px;
    /* background-color: rgb(240, 237, 233); */
}

/* autocomplate */
.ag-cell-editor-autocomplete {
    background-color: rgb(243, 240, 240);
    z-index: 10000;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 1px solid rgba(126, 122, 122, 0.6);
    height: 100px !important;
    max-height: 25% !important;
    max-width: 25% !important;
    /* font-size: 50px; */
}

.ag-cell-editor-autocomplete * {
    font: inherit
}

.ag-cell-editor-autocomplete>div {
    margin: 0
}

.ag-cell-editor-autocomplete>div.group {
    background-color: #7f8fa6;
    color: #fff
}

.ag-cell-editor-autocomplete>div:hover:not(.group),
.ag-cell-editor-autocomplete>div.selected {
    background: #dcdde1;
    cursor: pointer
}

.ag-cell-editor-autocomplete>div>*>strong {
    font-weight: 100 !important
}


/*
* The override should be placed after the import of the theme.
* Alternatively, you can also increase the selector's specificity.
*/

/* **************Section 4  Other library  Css-***************** */

.menucus {
    background-color: rgba(0, 0, 255, 0) !important;
    color: white !important;
}

.ng-sidebar {
    background-color: whitesmoke;
}


/* override  p sidebar  */

.p-sidebar .p-sidebar-content {
    padding: 1px;
}

p-button:hover {
    cursor: pointer;
    /* color: peachpuff; */
}




input[_ngcontent-uqs-c95] {
    font-family: 'Sarabun';
    /* font-size: 30px;
    font-weight: 100; */
    font-variant: all-petite-caps;
}

.p-inputtext {
    margin: 0;
    font-size: 16px;
    font-family: 'Sarabun';
    font-weight: 100;
    // height: 40px !important;
}

.p-card .p-card-title {
    font-size: 1.5rem;
    /* font-weight: 100; */
    margin-bottom: 0.5rem;
    font-family: 'Sarabun';
    font-weight: 200;
}

.p-button {
    font-size: 20px;
    font-family: 'Sarabun';
    font-weight: 200;
}

.p-button-label {
    flex: 1 1 auto;
    font-family: 'Sarabun';
    font-weight: 100;
    /* font-size: 20px; */
}

.p-sidebar {
    font-family: 'Sarabun';
    font-weight: 100;
}

.p-menuitem-text {
    flex-grow: 1;
    margin-left: 10px;
    font-family: 'Sarabun';
    font-size: 20px;
}

.p-accordion-header-text {
    font-family: 'Sarabun';
    font-size: 18px;
}





/* ////ag  grid  scrollbar   */
.ag-body-viewport-wrapper.ag-layout-normal {
    /* overflow-x: scroll;*/
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    height: 22px;
}

::-webkit-scrollbar-thumb {
    /* overflow-x: scroll; */
    overflow-y: scroll;
    border-radius: 2px;
    height: 12px;
    width: 22px;
    background-color: rgba(0, 0, 0, .5);
    /* box-shadow: 0 0 1px rgba(255,255,255,.5); */

}


/* p-breadcrumb */
.p-breadcrumb {
    background: #ffffff;
    border: none;
    /* border-radius: 3px; */
    padding: 1px;
}

.my-breadcum {
    position: fixed;
    left: 0px;
    top: 60px;
    padding-top: 15px;
    padding-bottom: 6px;
    height: 50px;
    background: #fdfdfd;
}

.ui-breadcrumb ul li span {
    text-indent: 20px;
    color: red;
    font-size: 3px;
    text-align-last: right;
}

div.p-breadcrumb>* {
    overflow-x: visible;

}

.p-breadcrumb ul>* {
    font-size: 16px !important;
}

span.p-menuitem-text {
    font-size: 16px;
}



/* ///AG  grid */
.ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Sarabun';
    font-size: 16px;
    /* font-weight: 120; */
}


.ag-header-group-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Sarabun';
    font-size: 16px;
    color: black;
}

.ag-cell {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'Sarabun';
    font-weight: 100;
}


.ag-pivot-off .ag-header-group-cell {
    font-size: 10px;
    color: red;
}

.ag-pivot-on .ag-header-group-cell {
    font-size: 15px;
    color: green;
}

.ag-cell-label-container {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
}

.ag-header-cell-label {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
    padding: 0 !important;
}

.ag-header-cell-label .ag-header-cell-text {
    /* Force the width corresponding at how much width
    we need once the text is laid out vertically */
    /* width: 20px; */
    /* transform: rotate(90deg); */
    /* margin-top: 50px; */
    /* Since we are rotating a span */
    /* display: inline-block; */
    font-size: 16px;
    font-weight: bold;
}

/* prime ng floating label on focus  */
#p-float-label {
    margin-top: -14px;

}

.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
    font-size: 15px;

}

/* ag grid pagination */
.ag-theme-alpine .ag-paging-panel {
    font-family: 'Sarabun';
    font-size: initial;
}

/* ag grid pagination */
.ag-theme-alpine .ag-paging-number,
.ag-theme-alpine .ag-paging-row-summary-panel-number {
    font-weight: 400;
    font-family: 'Sarabun';
}

.ag-header-group-cell-label {
    justify-content: center;
}

/* panel */
.panel-title {
    font-family: "Sarabun";
    font-size: 16px !important;
}


/* .ag-theme-alpine .ag-root-wrapper-body .ag-checkbox-input-wrapper{
    background: white;
    border: solid;
    border-color: blueviolet;
} */

.p-button {
    font-size: 0.975rem;
}

html,
body {
    height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */





.datepickerOne .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: darkgreen;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgb(145, 185, 1);
}




/* my-p-sidebar */
ng-trigger ng-trigger-panelState ng-tns-c94-2 my-p-sidebar p-sidebar p-sidebar-active p-sidebar-left ng-star-inserted {
    z-index: 1000008;
}

input[type="text"] {
    border-radius: 5px;
}

#p-inputtext {
    border: none;
}



/* label#labelDateFloat{
    margin-top: -20px;
} */
.example-form-field {
    /* margin-right: 1px;
    margin-top: -15px; */
    min-width: 100px;
    /* max-width: 150px; */
    /* width: auto; */
    width: 100%;
    margin-top: -15px;
}

.custom-tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid cornflowerblue;
    overflow: hidden;
    border-radius: 6px;
    pointer-events: none;
    transition: opacity 1s;
}

.custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
}

.custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
}

.custom-tooltip p:first-of-type {
    font-weight: bold;
}

/* custom pagination */
.custom-pagination-parent {
    margin-top: 3px;
    position: absolute;
    z-index: 1000;
    right: 50px;
    border: aquamarine;
    width: 100%;
}

.custom-pagination-child {
    float: right;
}

.custom-pagination-child-pagedropdown {
    border: none;
    top: -7px;
    padding: inherit;
    position: relative
}

.custom-pagination-child-autocomplete-input {
    width: 80px;
    font-size: 16px;
}

.custom-pagination-child-autocomplete {
    height: 25px;

}

.custom-pagination-child-first-div {
    height: 45px;
    padding-right: 20px;
    border: solid 1px;
    position: relative;
}



.my-total-botoom-style {
    background: 'peachpuff';
    font-weight: bold;
    font-size: 18px;
    /* margin-bottom: 0em; */
}

/* Ag Grid style override */
/* header field Cener */
.ag-header-cell-label {
    justify-content: center;
}

.ag-alingRight-padding {
    text-align: right;
    padding-right: 40px !important;

}

/* override when  hover icon      */

.fa-key:hover {
    /* color: red !important; */
    /* font-size: 16px; */
    /* box-shadow: 0 0 0 2px rgb(216, 232, 245), 0 0 0 2px #d9ebf3; */
    border-radius: 50%;
}

.fas:hover {
    /* color: rgb(241, 102, 102) !important;      */
    /* font-size: 16px; */
    /* box-shadow: 0 0 0 2px rgb(216, 232, 245), 0 0 0 2px #d9ebf3; */
    border-radius: 50%;
}

.pi:hover {
    /* color: red !important; */
    /* font-size: 16px; */
    /* box-shadow: 0 0 0 2px rgb(216, 232, 245), 0 0 0 2px #d9ebf3; */
    border-radius: 50%;
}

/* overrid   tabview prime ng */

/* .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #dee2e6;
    border-color: #abadaf;
    border-bottom-color:white;
    border-style: solid;
    border-width: 2px;
    color: #2196F3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: #fbfbfb;
    border-color: #abadaf;
    border-bottom-color:white;
    border-style: solid;
    border-width: 1px;
    color: #2196F3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}  

.p-tabview .p-tabview-nav li {
    margin-right: 2px;
}
.p-tabview .p-tabview-panels {
    padding: 0px !important;
} */

/* overrid   tabview  V2  prime ng */
.p-tabview .p-tabview-nav {
    /*background: #c0c0b9;    */
    color: #2196F3;
    padding-top: 3px;
    padding-left: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    /* background: #c0c0b9;    */
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;
    /* border-bottom-right-radius:20px;
     border-bottom-left-radius:20px; */
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    /* background: white; */
    /*border-color: #abadaf;*/
    border-bottom-color: #2196F3;
    border-style: solid;
    border-width: 2px;
    /* color: #2196F3; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 25px; */
    border-bottom-right-radius: -60px;
    border-bottom-left-radius: -60px;
    margin-bottom: -2px;

}


.p-tabview .p-tabview-nav li {
    margin-right: 0px;
}

.p-tabview .p-tabview-panels {
    padding: 0px !important;
}

.p-tabview-title {
    padding-right: 15px;
    border-right: 2px solid rgb(143, 141, 141);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link .p-tabview-title,
.p-tabview .p-tabview-nav li .p-tabview-nav-link .p-tabview-title:hover {
    border-right: none;

}



/* //ovverride   p-calendar   */
.p-datepicker td>span {
    display: initial;
}

.ui-widget,
.ui-widget .ui-widget {
    font-size: 12px !important;
}

.p-datepicker table td {
    padding: 0px;
}

.p-datepicker table td>span {
    height: 45px;
    width: 50px;
}

.p-menubar {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
    color: white !important;
}

// .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon:hover{
//   color: black !important;
// } 
// .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
//     border: 1px solid rgb(212, 207, 207);
//     display: flex;
//     box-shadow: 1px 2px;
// }
.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link * {
    color: rgb(1, 0, 0) !important;

}

// .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link * {
//     color: white !important;
// }
.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link :hover * {
    color: rgb(119, 12, 12) !important;
}

// .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text:hover{
//     color: rgb(119, 12, 12) !important;
//   }
// .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon{
//   color: white !important;
// }  


.p-menubar ul li:hover {
    //   background-color: black !important;
}

/* on small device click bar to show menu chang backgroun color */
.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    background-color: rgb(64, 90, 97) !important;
}


.p-datatable.p-datatable-customers .p-paginator {
    /* float: left !important; */
    display: flex;
    align-content: left;
    width: 100%;
    border: 1px solid rgb(145, 144, 144);

    align-items: left;
    padding: 0px !important;
    margin-left: 0px !important;
    text-align: right ! important
}

/* .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
} */


i.pi {
    font-size: 16px;
}

.p-datatable .p-datatable-header {
    /* border-width: 1px 1px 0 1px; */
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    height: 40px !important;
    /* height: 40px !important; */

}

#telemed_appoint_time {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-top: -13px;
    width: 100px !important;
    font-size: 16px !important;
}
.mat-form-field-flex {
    /* border: solid #e6e6e6 2px; */
    /* display: inline-flex; */
    /* align-items: baseline; */
    /* box-sizing: border-box; */
    /* width: 100%;       */
    /* border-radius: 6px; */
    height: 41px;
    /* margin-top: 15px; */
    width: 150px !important;

}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px 0px 0px 0px !important;
}
/* ovveride mat select  */
.mat-form-field-flex {
    background-color: white !important;

}
// เปลี่ยนสีวันที่
.mat-form-field.mat-accent .mat-input-element {
    color: black !important;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    // width: 1em; 
    font-size: 28px !important;
}

/* .mat-dialog-container {
    border-radius: 20px !important;
  } */
  .mat-form-field-outline-start,
  .mat-form-field-outline-end {
      border-radius: 0 !important;
      // width: 1em;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start,
  .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end {
      border-radius: 0;
      border: #ce3c10;
  }
  /* ///mat  datepicker */
/* .mat-form-field-flex{
      margin-top: -15px;
  } */
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
    //   width: 1em;

}
.example-form-field {
    margin-top: -10px !important;
}

/* //////Level patien  color class  */
.resuscitate-pt {
    background-color: rgb(240, 12, 12);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emergency-pt {
    background-color: rgb(231, 13, 158);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urgency-pt {
    background-color: rgb(252, 214, 3);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.semi-urgency-pt {
    background-color: rgb(17, 184, 67);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.none-urgency-pt {
    background-color: white;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}



.h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
}

fieldset {
    font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
    padding: 0px;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-card .p-card-body {
    padding-top: 0px !important;
}



.myreport {
    border-radius: 15px !important;
    font-family: sans-serif !important;
}

.myreport:hover {
    background-color: white !important;
}

// ovverride  paginator  padding
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    padding: 0px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
