
  <footer class="footer">
    <!-- CopyRight  Ubon Health Public   Ver 2.0.0  Angular&PrimeNg UI -->
    <div class="card p-0">
      <div class="flex align-items-center justify-content-center card-container surface-600 p-0">
        <div class="opacity-100 flex p-0 align-items-center justify-content-center border-round surface-600 text-white  font-bold"> CopyRight  Ubon Health Public   Ver 2.0.0  Angular&PrimeNg UI</div>
        <div class="opacity-40 flex p-0 align-items-center justify-content-center border-round bg-blue-500 text-white p-0 m-3 font-bold">opacity-40</div>
      </div>
    </div>
  </footer>
