<div class="px-1 mx-1">
    <p-card>
        <p-fieldset legend="ข้อมูลทั่วไป">
 
        <table width="100%">
            <tr>
                <td width="33%">
                    <span for="city7" class="text-green-700 fontKanit">เลขที่ส่ง : </span>
                    <span for="city7" class="fontKanit">{{refer_no}}</span>
                </td>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">วันที่ส่งกลับ : </span>
                    <span for="city7" class="fontKanit">{{refer_date | thaidate:'short'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">เลขบัตรประชาชน : </span>
                    <span for="city7" class="fontKanit">{{cid}}</span>
                </td>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">ชื่อ : </span>
                    <span for="city7" class="fontKanit">{{fullname}}</span>
                </td>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">อายุ : </span>
                    <span for="city7" class="fontKanit">{{age}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">เพศ : </span>
                    <span for="city7" class="fontKanit">{{sex}}</span>
                </td>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">อาชีพ : </span>
                    <span for="city7" class="fontKanit">{{occupation}}</span>
                </td>
                <td>
                    <span for="city7" class="text-green-700 fontKanit">สถานะ : </span>
                    <span for="city7" class="fontKanit">{{status}}</span>
                </td>

            </tr>
        </table>
        </p-fieldset>
        <br>
        <p-fieldset legend="Intermediate Care Views">
            <div class="col">
                <div class="flex justify-content-end flex-wrap card-container green-container">
                    <div class="flex align-items-center justify-content-center m-2 mt-2">
                        <span class="input-icon-left">
                            <p-button label="ประเมิน IMC" icon="pi pi-book" (click)="onCreate()"></p-button>
                        </span>
                    </div>

                </div>
            </div>
            <p-table #dt [value]="rowsData" [(selection)]="selectedRowsData" dataKey="id" styleClass="p-datatable-gridlines" 
            [rowHover]="true" [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="loading" 
            [paginator]="true" currentPageReportTemplate="แสดง {first} จาก {last} ทั้งหมด {totalRecords} รายการ" 
            [filterDelay]="0" [globalFilterFields]="['hn','fullname','refer_hospname']" responsiveLayout="scroll"
            paginatorPosition="bottom" [scrollable]="true" scrollHeight="{{scrollHeight}}" 
            [virtualRowHeight]="6" [autoLayout]="true" [resizableColumns]="true" [style]="ptableStyle" 
            frozenColumns="21">

                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="2" class="text-center justify-content-center" #pFrozenColumn style='flex: 0 0 150px;'>ประเมิน</th>
                        <th class="text-center justify-content-center" #pFrozenColumn style='flex: 0 0 200px;'></th>
                        <th class="text-center justify-content-center" #pFrozenColumn style='flex: 0 0 250px;'>ผลคะแนน</th>
                        <th colspan="10" class="text-center justify-content-center" #pFrozenColumn style='flex: 0 0 1000px;'>การประเมินความสามารถในการดำเนินชีวิตประจำวัน (Barthel ADL index)</th>
                        <th colspan="6" class="text-center justify-content-center" #pFrozenColumn style='flex: 0 0 600px;'>ภาวะอื่นๆ</th>
                        
                    </tr>
                    <tr>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 70px;'>ครั้งที่</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;'>วันที่</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 200px;'>สถานบริการที่ประเมิน</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 50px;'>คะแนน</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 200px;'>แปลผล</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Feeding</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Grooming</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Transfer</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Toilet use</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Mobility</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Dressing</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Stairs</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Bathing</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Bowels</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 100px;'>Bladder</th>

                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;'>swallow</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;'>speech</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;'>neurogenic bladder</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;'>eurogenic bowel</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;'>neuropathic pain</th>
                        <th class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;'>cognitive impairment</th>
                        
                    </tr>              
                </ng-template>
                <ng-template pTemplate="body" let-imc let-i="rowIndex+1">
                    <tr>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 70px;'>{{i}}</td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;'>{{imc.brt_date | thaidate:'short'}}</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 200px;'>{{imc.hcode}}: {{imc.hosname}}</td>

                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 50px;'>{{imc.adl_total}}</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 200px;'>{{imc.adl_result}}</td>
                        <!-- 1.Feeding (รับประทานอาหารเมื่อเตรียมสำรับไว้ให้) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.feeding_score  === '0'">ไม่สามารถตักอาหารเข้าปากได้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.feeding_score  === '1'">ตักอาหารเองได้แต่ต้องมีคนช่วย</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.feeding_score  === '2'">ตักอาหารและช่วยตัวเองได้เป็นปกติ</td>
                        <!-- 2.Grooming (ล้างหน้า หวีผม แปรงฟัน) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.grooming_score  === '0'">ต้องการความช่วยเหลือ</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.grooming_score  === '1'">ทำได้ด้วยตนเอง</td>
                        <!-- 3.Transfer (ลุกนั่งจากที่นอน หรือจากเตียงไปยังเก้าอี้) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.transfer_score  === '0'">ไม่สามารถนั่งได้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.transfer_score  === '1'">ต้องการความช่วยเหลืออย่างมาก</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.transfer_score  === '2'">ต้องการความช่วยเหลือบ้าง</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.transfer_score  === '3'">ทำได้เอง</td>
                        <!-- 4.Toilet use (ใช้ห้องน้ำ) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.toilet_score  === '0'">ช่วยตัวเองไม่ได้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.toilet_score  === '1'">ทำเองได้บ้าง</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.toilet_score  === '2'">ช่วยตัวเองได้ดี</td>
                        <!-- 5.Mobility (การเคลื่อนที่ภายในห้องหรือบ้าน) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bathing_score  === '0'">เคลื่อนที่ไปไหนไม่ได้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bathing_score  === '1'">ต้องใช้รถเข็นช่วยตัวเองให้เคลื่อนที่</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bathing_score  === '2'">เดินหรือเคลื่อนที่โดยมีคนช่วย</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bathing_score  === '3'">เดินหรือเคลื่อนที่ได้เอง</td>
                        <!-- 6.Dressing (การสวมใส่เสื้อผ้า) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.mobility_score  === '0'">ต้องมีคนสวมใส่ให้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.mobility_score  === '1'">ช่วยตัวเองได้ประมาณร้อยละ 50</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.mobility_score  === '2'">ช่วยตัวเองได้ดี (ติดกระดุมเอง)</td>
                        <!-- 7.Stairs (การขึ้นลงบันได 1 ชั้น) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.stairs_score  === '0'">ไม่สามารถทำได้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.stairs_score  === '1'">ต้องการคนช่วย</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.stairs_score  === '2'">ขึ้นลงได้เอง</td>
                        <!-- 8.Bathing (การอาบน้ำ) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.dressing_score  === '0'">ต้องมีคนช่วยหรือทำให้</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.dressing_score  === '1'">อาบน้ำเองได้</td>
                        <!-- 9.Bowels (การกลั้นการถ่ายอุจจาระ) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bowels_score  === '0'">กลั้นไม่ได้ หรือต้องการการสวน</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bowels_score  === '1'">กลั้นไม่ได้บางครั้ง</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bowels_score  === '2'">กลั้นได้เป็นปกติ</td>
                        <!-- 10.Bladder (การกลั้นปัสสาวะ) -->
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bladder_score  === '0'">กลั้นไม่ได้ หรือต้องการการสวน</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bladder_score  === '1'">กลั้นไม่ได้บางครั้ง</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 100px;' *ngIf="imc.bladder_score  === '2'">กลั้นได้เป็นปกติ</td>
                        
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;' *ngIf="imc.swallow  === '1'"><i class="pi pi-check-square"></i></td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;' *ngIf="imc.swallow  === '0'"></td>

                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;' *ngIf="imc.speech  === '1'"><i class="pi pi-check-square"></i></td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 80px;' *ngIf="imc.speech  === '0'"></td>

                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.neurogenic_bladder  === '1'"><i class="pi pi-check-square"></i></td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.neurogenic_bladder  === '0'"></td>

                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.eurogenic_bowel  === '1'"><i class="pi pi-check-square"></i></td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.eurogenic_bowel  === '0'"></td>

                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.neuropathic_pain  === '1'"><i class="pi pi-check-square"></i></td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.neuropathic_pain  === '0'"></td>

                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.cognitive_impairment  === '1'"><i class="pi pi-check-square"></i></td>
                        <td class="text-center justify-content-center pt-2 pb-2" style='flex: 0 0 110px;' *ngIf="imc.cognitive_impairment  === '0'"></td>

                        <!-- <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 80px;'>{{imc.}}</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 110px;'>{{imc.}}</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 110px;'>{{imc.}}</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 110px;'>{{imc.}}</td>
                        <td class="pt-2 pb-2 white-space-normal" style='flex: 0 0 110px;'>{{imc.}}</td> -->
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="16">ไม่พบรายการ..</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- </div>
        </div> -->
        </p-fieldset>
    </p-card>
</div>

